{% extends "base.html" %}
{% set active_page = "presentation" %}
{% block content %}


<div style='margin-top: 30px; text-align: center;'>
    <h1>Supervised Machine Learning Model Application Using Flask</h1>
    <p class="lead"><i>By Mubashira Qari</i></p>
</div>
<iframe
    src="https://docs.google.com/presentation/d/e/2PACX-1vRPzcyyoKtd7V8vgyK5JLZl64Ex-3tZWdLzPhlm_P_EXoXzerZcXj0CDp3XeJ7m5vhjJHvtrTRZMcSX/embed?start=true&loop=true&delayms=60000"
    frameborder="0" width="100%" height="839" allowfullscreen="true" mozallowfullscreen="true"
    webkitallowfullscreen="true"></iframe>


{% endblock %}